*,
*,
::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar
/* custom colours */

:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: darkolivegreen;
    --bgCAbout: #56744E;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(105, 96, 96, 0.75);
    --card-box-shadow: .5vw .5vw 1vw rgba(85, 94, 9,=9, 0.9);
    --text-shadow: .3ren .3rem .4rem rgba(78, 107, 91, 0.5);
    --mainBg: hsla(145, 83%, 20%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg))
}


.navbar-brand {
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

/* navbar and footer */
:is(footer) {
    background-color: blueviolet;
}

:is(a) {
    color: blueviolet !important;
}

:is(.nav-link) {
    color: blueviolet;
}
/* Grid Layout & 3 rows */
:is(body) {
    display: grid;
    text-align: center;
}

/* Create three rows */
:is(body) {
    grid-template-rows: auto minmax(100%, 100dvh) auto;   
}

.nav-item {
    transition: all .5s;
    &:hover {
        transform: scale(1.2);
    text-decoration: underline;
    }
}

.navbar-brand {
    transition: all .5s;
    &:hover {
        transform: scale(1.2);
    text-decoration: underline;
    }
}

.header {
    padding: 20px; Example padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-image {
    width: auto;
}
.header-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.body {
    background-color: black;
}

.about-me {
    justify-content: flex-start;
}
#text-about-me {
    color: white;
}
#about-me-heading {
    color: green;
}


#questions-about-me {
    color: white;
}

#link1button {
    color: blueviolet;
    box-shadow: green;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    border-radius: 25px;

    &:hover {
        box-shadow: unset;
        border: 2px solid blueviolet;
        color: green;
    }
}

#link2button {
    color: blueviolet;
    box-shadow: green;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    border-radius: 25px;

    &:hover {
        box-shadow: unset;
        border: 2px solid blueviolet;
        color: green;
    }
}

#footer {
    display: flexbox;
    align-items: flex-end;
    justify-content: center;
}

.card {
    background-color: transparent;
    color: blueviolet;
    box-shadow: green;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    border-radius: 25px;

    &:hover {
        box-shadow: unset;
        border: 2px solid blueviolet;
        color: green;
    }
}
.btn {
    background-color: transparent;
    color: green !important;
    box-shadow: green;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    border-radius: 25px;

    &:hover {
        box-shadow: unset;
        border: 2px solid blueviolet;
        color: green;
    }
}

.btn1 {
    background-color: black;
}

.btn2 {
    background-color: transparent;
    color: green !important;
    box-shadow: green;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 0.5s;
    border-radius: 50px;
    &:hover {
        box-shadow: unset;
        border: 2px solid blueviolet;
        color: green;
    }
}

.collapse {
    &:not(.show) {
      display: none;
    }
    
  }
  
  .collapsing {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
  
    &.collapse-horizontal {
      width: 0;
      height: auto;
      @include transition($transition-collapse-width);
    }
  }